:host {
  display: block;
  font-family: sans-serif;
  border: 2px solid purple;
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
}

form input {
  font: inherit;
  color: purple;
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid purple;
  background-color: purple;
  color: white;
  display: block;
  cursor: pointer;
}

form button:hover,
form button:active {
  background-color: plum;
  border-color: plum;
  color: black;
}

form button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: white;
  cursor: not-allowed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25rem 0;
  border: 1px solid #ccc;
  padding: 0.24rem;
}

li:hover,
li:active {
  background: purple;
  color: white;
  cursor: pointer;
}
